<section class="client">
   <div class="client__container container">
      <div class="client__inner">
         <div class="client__content">
            <div class="client__title title">
               <h3 class="title__main animation">
                  ЗНАЙОМСТВО З КЛІЄНТОМ
               </h3>
            </div>
            <div class="client__text animation">
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. Ut lacinia facilisis egestas. Cras quis enim sit amet risus dictum porta vel sed justo. Curabitur quis ex magna. Curabitur sed vulputate nunc, et volutpat massa.
               </p>
               <p>
                  Maecenas pharetra sem felis, eget accumsan elit ornare eget. = sodales justo sed elementum efficitur. Nullam lacinia auctor ex, et fermentum lectus tempor lobortis.
               </p>
            </div>
         </div>
      </div>   
   </div>
   <picture>
      <source class='client__leaf-decor animation' srcset="static/images/client/leaf.webp" type="image/webp">
      <img class='client__leaf-decor animation' src="static/images/client/leaf.png" alt="leaf">
   </picture>
</section>