<section class="task">
   <div class="task__container container">
      <div class="task__inner">
         <div class="task__content">
            <div class="task__column animation">
               <div class="task__title task__title--1 title">
                  <h4 class="title__main">
                     <span>ЗАДАЧА 1</span>
                  </h4>
                  <div class="title__sub">
                     <span> Lorem ipsum dolor sit amet. </span>
                  </div>
               </div>
               <div class="task__text">
                  <p>
                     <span>Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. Ut lacinia facilisis egestas. Cras quis enim sit amet risus dictum porta vel sed justo. 
                  </p>
                  <p>
                     Maecenas pharetra sem felis, eget accumsan elit ornare eget. = sodales justo sed elementum efficitur. Nullam lacinia auctor ex, et fermentum lectus tempor lobortis. 
                  </p>
               </div>
            </div>
            <div class="task__column animation">
               <div class="task__title task__title--2 title">
                  <h4 class="title__main">
                     <span>ЗАДАЧА 2</span>
                  </h4>
                  <div class="title__sub">
                     <span> Lorem ipsum dolor sit amet. </span>
                  </div>
               </div>
               <div class="task__text">
                  <p>
                     <span>Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. Ut lacinia facilisis egestas. Cras quis enim sit amet risus dictum porta vel sed justo. 
                  </p>
                  <p>
                     Maecenas pharetra sem felis, eget accumsan elit ornare eget. = sodales justo sed elementum efficitur. Nullam lacinia auctor ex, et fermentum lectus tempor lobortis. 
                  </p>
               </div>
            </div>
         </div>
      </div>  
   </div>
   <div class="task__decoration task-decoration">
      <picture class="task-decoration__image task-decoration__image--timbers animation">
         <source srcset="static/images/task/timbers.webp" type="image/webp">
         <img src="static/images/task/timbers.png" alt="timbers">
      </picture>
      <picture class="task-decoration__image task-decoration__image--timber-1 animation">
         <source srcset="static/images/task/timber-1.webp" type="image/webp">
         <img src="static/images/task/timber-1.png" alt="timbers-1">
      </picture>
      <picture class="task-decoration__image task-decoration__image--timber-2 animation">
         <source srcset="static/images/task/timber-2.webp" type="image/webp">
         <img src="static/images/task/timber-2.png" alt="timbers-2">
      </picture>
   </div> 
   <div class="task__layer-timb animation">
      <picture>
         <source srcset="static/images/task/timbers.webp" type="image/webp">
         <img src="static/images/task/timbers.png" alt="timbers">
      </picture>
   </div>
</section>