<section class="strategy">
   <div class="strategy__container container">
      <div class="strategy__inner">
         <div class="strategy__content">
            <div class="strategy__title title">
               <h3 class="title__main animation">
                  <span>Стратегія</span>
               </h3>
            </div>
            <p class="strategy__text animation">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. Ut lacinia facilisis egestas.
            </p>
      
            <div class="strategy__columns strategy-columns">
               <div class="strategy-columns__item  strategy-columns__item--1 animation">
                  <div class="strategy-columns__num">
                     <span>1</span>
                  </div>
                  <div class="strategy-columns__info">
                     <h5 class="strategy-columns__title">
                        <span>Lorem</span>
                     </h5>
                     <p class="strategy-columns__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     </p>   
                  </div>
               </div>
               <div class="strategy-columns__item strategy-columns__item--2 animation">
                  <div class="strategy-columns__num">
                     <span>2</span>
                  </div>
                  <div class="strategy-columns__info">
                     <h5 class="strategy-columns__title">
                        <span>Lorem</span>
                     </h5>
                     <p class="strategy-columns__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     </p>   
                  </div>
               </div>
               <div class="strategy-columns__item strategy-columns__item--3 animation">
                  <div class="strategy-columns__num">
                     <span>3</span>
                  </div>
                  <div class="strategy-columns__info">
                     <h5 class="strategy-columns__title">
                        <span>Lorem</span>
                     </h5>
                     <p class="strategy-columns__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     </p>   
                  </div>
               </div>
               <div class="strategy-columns__item strategy-columns__item--4 animation">
                  <div class="strategy-columns__num">
                     <span>4</span>
                  </div>
                  <div class="strategy-columns__info">
                     <h5 class="strategy-columns__title">
                        <span>Lorem</span>
                     </h5>
                     <p class="strategy-columns__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     </p>   
                  </div>
               </div>
            </div>
         </div>
      </div>    
   </div>
   <div class="strategy__decoration strategy-decoration">
      <div class="strategy-decoration__mac animation">
         <picture>
            <source class="strategy-decoration__image strategy-decoration__image--mac-basis" srcset="static/images/strategy/mac-basis.webp" type="image/webp">
            <img class="strategy-decoration__image strategy-decoration__image--mac-basis" src="static/images/strategy/mac-basis.png" alt="mac">
         </picture>
         
         <img class="strategy-decoration__image strategy-decoration__image--mac-content" src="static/images/strategy/mac-content.jpg" alt="mac">
      </div>

      <picture>
         <source class="strategy-decoration__image strategy-decoration__image--leafs animation" srcset="static/images/strategy/leafs.webp" type="image/webp">
         <img class="strategy-decoration__image strategy-decoration__image--leafs animation" src="static/images/strategy/leafs.png" alt="leafs">
      </picture>

      <picture>
         <source class="strategy-decoration__image strategy-decoration__image--1 animation" srcset="static/images/strategy/leaf.webp" type="image/webp">
         <img class="strategy-decoration__image strategy-decoration__image--1 animation" src="static/images/strategy/leaf.png" alt="leaf">
      </picture>

      <picture>
         <source class="strategy-decoration__image strategy-decoration__image--2 animation" srcset="static/images/strategy/leaf.webp" type="image/webp">
         <img class="strategy-decoration__image strategy-decoration__image--2 animation" src="static/images/strategy/leaf.png" alt="leaf">
      </picture>

      <picture>
         <source class="strategy-decoration__image strategy-decoration__image--3 animation" srcset="static/images/strategy/leaf.webp" type="image/webp">
         <img class="strategy-decoration__image strategy-decoration__image--3 animation" src="static/images/strategy/leaf.png" alt="leaf">
      </picture>
      
      <picture>
         <source class="strategy-decoration__image strategy-decoration__image--4 animation" srcset="static/images/strategy/leaf-size.webp" type="image/webp">
         <img class="strategy-decoration__image strategy-decoration__image--4 animation" src="static/images/strategy/leaf-size.png" alt="leaf">
      </picture>

      <picture>
         <source class="strategy-decoration__image strategy-decoration__image--5 animation" srcset="static/images/strategy/leaf.webp" type="image/webp">
         <img class="strategy-decoration__image strategy-decoration__image--5 animation" src="static/images/strategy/leaf.png" alt="leaf">
      </picture>
   </div> 
</section>