<!DOCTYPE html>
<html lang="uk">
@@include('section/head/_head.html')
<body>
   <div class="wrapper">
      @@include('section/header/_header.html')
      <main class="page">
         @@include('section/welcome/_welcome.html')
         @@include('section/client/_client.html')
         @@include('section/strategy/_strategy.html')
         @@include('section/task/_task.html')
         @@include('section/result/_result.html')
         @@include('section/offers/_offers.html')
      </main>
      @@include('section/footer/_footer.html')
   </div>
<script src="static/js/script.min.js"></script>
</body>
</html>