<section class="offers">
   <picture>
      <source class='offers__cover' srcset="static/images/offers/cover.webp" type="image/webp"> 
      <img class='offers__cover' src="static/images/offers/cover.png" alt="cover">
   </picture> 
   <div class="offers__container container">
      <div class="offers__inner">
         <div class="offers__content">
            <div class="offers__title title">
               <h3 class="title__main animation">
                  <span>Ми сподіваємось, вам сподобався цей проект</span>
               </h3> 
               <div class="title__sub animation">
                  <span>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper pulvinar congue. 
                     Nunc et lectus vitae dui condimentum sollicitudin sed vel sapien.
                  </span>
               </div>
            </div>
            <div class="offers__active animation">
               <a class="offers__link offers__link--order" href="#">
                  <span>Замовити подібний проєкт</span>
               </a>
               <a class="offers__link" href="#">
                  <span>Повернутися до проєктів</span>
               </a>
            </div>
         </div> 
      </div>
   </div>
   <picture>
      <source class='offers__leaf-dec animation' srcset="static/images/offers/leaf.webp" type="image/webp"> 
      <img class='offers__leaf-dec animation' src="static/images/offers/leaf.png" alt="leaf">
   </picture> 
</section>