<section class="page__welcome welcome">
   <picture>
      <source class='welcome__cover' srcset="static/images/welcome/cover.webp" type="image/webp"> 
      <img class='welcome__cover' src="static/images/welcome/cover.png" alt="cover">
   </picture>
   <div class="welcome__container container">
      <div class="welcome__inner">
         <picture>
            <source class='welcome__leaf welcome__leaf--1 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--1 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <picture>
            <source class='welcome__leaf welcome__leaf--2 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--2 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <picture>
            <source class='welcome__leaf welcome__leaf--3 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--3 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <picture>
            <source class='welcome__leaf welcome__leaf--4 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--5 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <picture>
            <source class='welcome__leaf welcome__leaf--5 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--5 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <picture>
            <source class='welcome__leaf welcome__leaf--6 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--6 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <picture>
            <source class='welcome__leaf welcome__leaf--7 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--7 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <picture>
            <source class='welcome__leaf welcome__leaf--8 animation' srcset="static/images/welcome/leaf.webp" type="image/webp"> 
            <img class='welcome__leaf welcome__leaf--8 animation' src="static/images/welcome/leaf.png" alt="leaf">
         </picture>
         <div class="welcome__content">
            <div class="welcome__label animation">
               <span>SEO CASE</span>
            </div>
            <h2 class="welcome__title animation">
               <span>ДРІМКА</span>
            </h2>
            <div class="welcome__text animation">
               <span>Український виробник ліжок з натурального дерева.</span>
            </div>
         </div>
         <div class="welcome__bottom">
            <div class="welcome__social social">
               <ul class="social__items">
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/instagram.svg" alt="instagram">   
                     </a> 
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/medium.svg" alt="medium">    
                     </a> 
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/dribbble.svg" alt="dribbble">    
                     </a> 
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/facebook.svg" alt="facebook">    
                     </a> 
                  </li>
               </ul>
            </div>
            <div class="welcome__lang lang">
               <ul class="lang__items">
                  <li class="lang__item lang__item--active">
                     <a href="#" class="lang__link">
                        Rus
                     </a>
                  </li>
                  <li class="lang__item">
                     <a href="#" class="lang__link">
                        Eng
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="welcome__decor welcome-decor">
      <picture class="welcome-decor__image welcome-decor__image--mac animation">
         <source srcset="static/images/welcome/mac.webp" type="image/webp">
         <img src="static/images/welcome/mac.png" alt="mac">
      </picture>
   
      <picture class="welcome-decor__image welcome-decor__image--tel animation">
         <source srcset="static/images/welcome/tel.webp" type="image/webp">
         <img src="static/images/welcome/tel.png" alt="tel">
      </picture>
   
      <picture class="welcome-decor__image welcome-decor__image--branch animation">
         <source srcset="static/images/welcome/branch.webp" type="image/webp">
         <img src="static/images/welcome/branch.png" alt="branch">
      </picture>
   </div>
</section>