<footer class="footer">
   <div class="footer__main footer-main">
      <div class="footer-main__container container">
         <div class="footer-main__inner">
            <div class="footer-main__text">
               <span>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
               </span>
            </div>
            <div class="footer-main__nav footer-nav">
               <ul class="footer-nav__items">
                  <li class="footer-nav__item">
                     <a href="#" class="footer-nav__link">
                        Про нас
                     </a>
                  </li>
                  <li class="footer-nav__item">
                     <a href="#" class="footer-nav__link">
                        Портфоліо
                     </a>
                  </li>
                  <li class="footer-nav__item">
                     <a href="#" class="footer-nav__link">
                        Блог
                     </a>
                  </li>
               </ul>   
            </div>
            <div class="footer-main__info">
               <div class="footer-main__place">
                  <span class="footer-main__country">
                     Україна
                  </span>
                  ,
                  <span class="footer-main__sity">
                     м.Львів
                  </span>
               </div>
               <div class="footer-main__street">
                  <span>вул.Лазаренка 2</span>
               </div>
   
               <ul class="footer-main__tel">
                  <li class="footer-main__tel-item">
                     <a href="tel:0978577047">(097)857-70-47</a>
                  </li>
               </ul>
            </div>
            <div class="footer-main__social social">
               <ul class="social__items">
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/dribbble-black.svg" alt="dribbble">    
                     </a> 
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/instagram-black.svg" alt="instagram">   
                     </a> 
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/medium-black.svg" alt="medium">    
                     </a> 
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <img class="social__image" src="static/images/social/facebook-black.svg" alt="facebook">    
                     </a> 
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="footer__copyright footer-copyright">
      <div class="footer-copyright__container container">
         <div class="footer-copyright__inner">
            <div class="footer-copyright__author">
               <span>2021 © WebTune. All Rights Reserved.</span>
            </div>
         </div> 
      </div> 
   </div>
</footer>